<!--The content below is only a placeholder and can be replaced.-->
<div class="app">
  <div class="sidebar animated slideInLeft" *ngIf="menuOpen">
    <div class="sidebar-toggle pull-right">
      <a (click)="toggleSidebar()">
        <span class="menutoggle">
          <i *ngIf="!menuOpen" class="fa fa-bars fa-2x"></i>
          <i *ngIf="menuOpen" class="fa fa-times fa-2x"></i>
        </span>
      </a>
    </div>
    <div class="menu">
      <div class="sidebar-header text-center">
        <img src="assets/img/flat-avatar.png" class="sidebar-img img-circle">
      </div>
      <ul>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a (click)="toggleSidebar()" [routerLink]="['/']">Home</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a (click)="toggleSidebar()" [routerLink]="['/simple-form']">Simple Form Exercise</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid animated fadeInUp" [ngClass]="{'full': !menuOpen}">
    <a (click)="toggleSidebar()">
      <span class="menutoggle">
        <i *ngIf="!menuOpen" class="fa fa-bars fa-2x"></i>
        <i *ngIf="menuOpen" class="fa fa-times fa-2x"></i>
      </span>
    </a>
    <router-outlet></router-outlet>
  </div>
</div>