<div class="animated fadeInUp">
  <h2>Home
    <small>Are you ready for the Angular - Web API interview?</small>
  </h2>

  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1> This app is a getting starting website, which main goal is to test a candidate in an interview. We provide
      the samples, they develop the intelligence. When the candidate is ready, click on the button bellow!
      <br>
      <br>
      <p>
        <a ui-sref="login" class="btn btn-primary btn-lg btn-white" [routerLink]="['/simple-form']">Let's start!</a>
      </p>
    </div>
  </div>
</div>